{% load static %}
<footer class="footer-4 mt-5">
    <div class="container">
        <div class="row mb-5 text-center text-md-left">
            <div class="col-md-3 col-lg-4 mb-3">
                <a class="logo" href="#"><img src="{% static 'images/logo_web_50.png' %}" /></a>
            </div>
            <div class="col-md-3 offset-lg-2 col-lg-2 pt-2">
                <h5>Welcome</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 pt-2">
                <h5>Services</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Vocal Recording</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Beat Making</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Mastering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Distribution</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 pt-2">
                <h5>Get Help</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Get in Touch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Freebies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="divider"></div>
    </div>
    <div class="	container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                <p class="copyright">Copyright &copy;LSR - All rights reserved. Dev by <a href="">@TORNADOZW</a></p>
            </div>
            <div class="col-md-6 text-center text-md-right mb-4">
                <ul class="social">
                    <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                    <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                    <li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>